annotated-typesAPSchedulerasgirefbeautifulsoup4bleachbs4certificharset-normalizercontourpycyclerDjango==4.1.13django-apschedulerdjango-bootstrap-datepicker-plusdjango-cors-headersdjango-post-officedjango-relativedeltadjango-requestdjango-s3-sqlitedjangorestframeworkfonttoolsfrozen-djangoidnakiwisolvermatplotlibmysqlclientnumpypackagingPillowpydanticpydantic_corepyparsingpython-dateutilpytzreportlabrequestssixsoupsievesqlparsetinycss2typing_extensionstzdatatzlocalurllib3webencodings