{% extends "roottemplates/base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Customize Home Page</h4>

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'root_customize' %}" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="form-group">
                <label for="description">Customize Description:</label>
                <textarea id="description" name="description" required>{% if instance %}{{ instance.description }}{% endif %}</textarea>
              </div>

      

        <div class="form-group row justify-content-between">
                
                <label for="image">Upload Image:</label>
                <input type="file" id="image" name="image">
                {% if instance and instance.image %}
                  <img src="{{ instance.image.url }}" alt="Uploaded Image" style="max-width: 200px; margin-top: 10px;">
                {% endif %}
              </div>

              <button type="submit" class="btn btn-primary">{% if instance %}Update{% else %}Create{% endif %}</button>
            </form>

            <!-- Include CKEditor library -->
            <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
            <script>
              CKEDITOR.replace('description');
            </script>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock content %}
