{% extends 'studentinfo/base.html' %} {% load static %}
{% block custom_css %}


{% endblock custom_css %}

{% block content %}
        <!-- End Mobile Menu -->



            <div class="container">
                <section class="inquiry-section my-5 bg-color-1">
                    {% comment %} <div class="row"> {% endcomment %}

                        <div class="pattern-layer" ></div>
                        <div class="auto-container">
                            <div class="row align-items-center clearfix">
                              
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    
                                    <div class="content-text">
                                         <h3 class="text-center">Welcome to Student Visa BD </h3>
                 
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% comment %} </div> {% endcomment %}
                   
                </section>
          </div>
    



        {% endblock content %}
        